
/**BASICS**/

/* source code (with edits) from: https://www.w3schools.com/howto/howto_css_full_page.asp */


  /* ************************* */
  /* https://achundur.github.io/movieposters/home.html */

body, html{
    height: 100%;
    background-color: black;
    font-size: 16px;
    

}

/* testttt */
#psycho-wrapper{
    z-index: 2;
    position: fixed;
    width: 60%;
    height: 50%;
    right: 0;
}

@font-face {
    font-family: "Trickster-Regular";
    src: url('./webfonts-trickster') format('woff');
  }

/* 
@font-face {
  font-family: 'Trickster_Regular';
  src:    url('Trickster-Regular.eot');
  src:    url('Trickster-Regular.eot?#iefix') format('embedded-opentype'),
          url('https://achundur.github.io/movieposters/webfonts-trickster/Trickster-Regular.woff') format('woff'),
          url('https://achundur.github.io/movieposters/webfonts-trickster/Trickster-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
} */


  @font-face {
    font-family: Lack-regular;
    src: url('./Webfonts-lack/') format('woff')
  }



  
  h1 {
    font-family: "Trickster_Regular", serif;
    color: white;
    text-transform:uppercase;
    font-size: 100px;
    line-height: 1.0;
    margin-bottom: 15px;
    padding-bottom: 15px;
    
  }

h2 {
    font-family: "Trickster_Regular", serif;
    color: white;
    font-size:64px;

}

  h4{
    font-family: "Trickster-Regular", serif;
    color: white;
    font-size: 24px;
    /* font-kerning: auto; */
  }

h5{
  font-family: "Trickster-Regular", serif;
  color: white;
}


a{
    text-decoration: underline;
    color: white;
}

a.topnav{
    text-decoration: none;

}

a:hover{
    color:#9d4dff;

}

p, li{
    font-family: Lack-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    padding-top: 5px;
    color: white;
    
}



hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
  }

.page-content{
    padding-top: 65px;
    padding-bottom: 65px;
    margin-right:20px;
} 

.home-page-content{
  padding-top: 65px;
  padding-bottom: 65px;
  margin-right:20px;
}

.footer-content{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
}

.footer-content li{
    list-style: none;
    font-size: 14px;
    /* text-align: left; */
    
}

.artist-title{
  /* border: solid; */
  border-right: 1px solid #f2f2f2;
}

@media (max-width: 768px){
  .artist-title{
    border-right: 0px;
  }

  .about-section{
    flex-direction: column;
  }



}

.main-column{
    flex-direction: column-reverse;
    padding-right: 0px;
    padding-bottom: 0px;
    /* border-width: 1px; */
    /* border-color:white; */
    /* border-right:#f2f2f2;
    border-width: 1px; */
}

/*****Menu Styling*****/

.header-styling{
    border: 1px solid white;
    border-radius: 1.5rem;
    margin: 10px;
    /* padding: 10px; */
    align-items: center;
    /* display: flex; */
    padding: 0px;

}



/* Add a black background color to the top navigation */
.topnav {
    /* background-color: #333; */
    overflow: hidden;
    text-align: center;
    /* padding: 10px 0px; */
    margin: 1px 0px;
    /* border-bottom: 1px; */
    /* border-color:white; */
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    /* float: center; */
    color: #f2f2f2;
    text-align: center;
    padding: 5px 15px;
    margin: 0px 5px;
    text-decoration: none;
    font-size: 16px;
    /* font-family: Trickster-Regular; */
    /* font-family: Lack-regular; */
    font-family: Trickster-Regular;
    text-transform: uppercase;

  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    /* background-color: #a944fff7; */
    background-color: #7b1ccef7;
    border-color: greenyellow;
    border-radius: 40px;
    border-width: 2px;
    outline: 2px white;


    
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #7b1ccef7;
    color: white;
    border-radius: 40px;
    outline: 2px white;
  }

.navbar-brand{
    font-family: Trickster-regular;
    font-size: 1.55rem;
    text-decoration: none;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 0.8rem;
    line-height: 1;
    /* background-color: #a543f8; */
    border: 2px solid white;
    border-radius: 1.25rem;
    
}

.navbar-toggler-icon{
    color:white;
    width: 2rem;
    height: 1.5rem;

}


.topnav{
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar{
    padding: 0px 15px 0px 20px;
}



/* BREAKPOINTS FOR HEADINGS */

@media (max-width: 770px){
  h1{
      font-size: 42px;
  }
  h2{
    font-size: 36px;
  }
}

@media (min-width: 771px) and (max-width: 992px){
    h1{
        font-size: 64px;
    }
}

@media (min-width: 993px) and (max-width: 1200px){
    h1{
        font-size: 80px;
    }

}

.poster{
    position: sticky;
    top: 15px;
    /* max-height: 50%; */

    align-items: center;
    margin-bottom: auto;
    margin-top: auto;
    /* transition: transform .2s; */
}

/* //This is used to control the animation speed and its duration */
/* .poster:hover{
    transform:perspective()
} */

/*homepage image gallery*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    align-content: center;
    margin-right: 10px 20px;
  }

.about-section{
    margin: 10px;
    /* taking out 50px left/right margins b/c weird on phones */
    border-top: white;
    border-width:2px;
}
#about-section{
  border-right: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.about-section h2{
    text-align:center;
}
.page-content .about-section{
  margin-right:0px;
}
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    max-width: 50%;
    padding: 10px 20px;
    margin: 10px 0px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    margin: 20px 0px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  /* @media screen and (max-width: 950px) {
    .column{
      flex: 50%;
      max-width: 50%;
    }
  } */
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 768px) {
    .main-column {
      flex: 100%;
      max-width: 100%;
    }

    .column {
      flex: 50%;
      max-width: 80%;
      padding: 10px 20px;
      margin: 10px 0px;
    }

    .border-right{
        border-width: 0px;
    }
  }

  /* MAIN COLUMN FIXED UR WEIRD RESPONSIVENESS ISSUE XOXO */

  @media screen and (max-width: 768px){
    .row{
        flex-direction: column-reverse; 
    }
  
    .poster-wrapper{
      flex-direction: column;
      }
    }
  

  
/******************************/




/**********ARTIST PROFILE************/

/* still using this, didn't change the class title */
.artist-title{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.poster-images-container{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-content: center;
    margin: 0px 50px;
    padding: 5px 5px;
    height: 925px;
    width: 528px;
    margin-left: auto;
    margin-right: auto;

}

.poster-wrapper {
    margin: 0.75rem 3rem;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    /* flex-direction: column; */
}


@media screen and (max-width: 1060px) {
    .poster-images-container {
      flex: 50%;
      max-width: 100%;
    }
  }

.poster-images{
    flex: 1 1 auto;
    /* overflow-y: scroll; */
    /* height: 100%; */

    position: sticky;
    top: 10px;

}


/* https://stackoverflow.com/questions/14962468/how-can-i-combine-flexbox-and-vertical-scroll-in-a-full-height-app */